
<div class="container-fluid well " >
	<div class="row">
	<div class="search">
		<%= render 'search' %>
	</div>
	</div>
	<div class="row after_picture">
	<% if params[:movie_title] %>
		<h5>Search result:</h5>
		<%= will_paginate @movies%>
		<div class="row search_result">
			<%= render  @movies %>
		</div>
		<%= will_paginate @movies%>	
	<% end %>
	</div>
</div>

