
<div class="container well" >
	<p class="notice"><%= notice %></p>
	<div class="jumbotron">
	<%= render 'search' %>
	</div>

	<% if params[:movie_title] %>
		<h3>Search result:</h3>
		<%= render @movies %>
	<% end %>
</div>

