<div class="feed">
<% if @feed_items.any? %>
  <ol>
    <%= User.find(feed.user_id).first_name %>
  	a adaugat in lista 
  		<% if feed.status == true %>
				<span class="glyphicon glyphicon-sunglasses"></span> <i>Vazute</i>
			<% else %>
			  <span class="glyphicon glyphicon-heart"></span><i>Musai de vazut</i>
			<% end %> filmul
    <%= link_to Movie.find(feed.movie_id).title , movie_path(feed.movie_id) %><br>
    in: 
    <span class="sub-text">
     <%= localize(feed.created_at,:format=>:long) %>
    </span>
  </ol>
<% end %>
</div>


