 
<div class="container-fluid panel-index">
	<div class="panel panel-default index">
    <div class="panel-heading"> <b>Everybody</b>
    </div>
    <div class="panel-body users">
    <%= will_paginate @users%>
    <div class='row'>
			<%= render partial: "users", collection: @users %>
		</div>

		<%= will_paginate @users%>
		</div>
	</div>
</div>
