// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron{
	background: url(/assets/bg.png);

	input{
		height: 30px;

	}
	#genre{
		height: 30px;
	}
}

.img-movie{
	img{
	width:30%;
	}
}
.movie_poster{
	width: 150px;
}

.comment{
	padding-left: 10px;
	padding-right: 10px;
	hr{
	border:0.2px solid #DFF0D8;
	}
}
