// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

body{
	background:#E1E1D7; 
}

.well{
	margin-top: 30px;
	background-image: url("4.png");
	background-repeat: no-repeat;
	background-size: 100%;
	height:270px;
	border-bottom: 1px solid #D4C9B7;
	
	.search{
		margin:0 auto;
		width:800px;
		padding-top: 75px;
		input{
			height: 33px;
		}
		#genre{
			height: 33px;
		}
		#movie_title{
			height:33px;
		}
	}
	.after_picture{
		padding-top: 85px;
		height:1250px;
	}
	h5,.pagination{
	padding-left: 85px;
	margin-bottom: 5px;
	
}
}

.down{
	margin-top: 80px;
}


.log-form{
	margin: 0 auto; 
  width:270px
}


.plot{
	padding-top: 10px;
}


//search result

.search_result{
	padding-left:110px;
	
}

.movie{
	background: white;
	border: 1px #e4e4e4 solid;
	margin:5px;
	width:360px;
	height:180px;
	padding-top:10px;
	padding-left:20px; 


	.title{
		padding-bottom: 10px;
	} 
	
	.genre{
	font-size:12px;
	color:grey;
	}
	
	.img_movie{
		img{
		width:55px;
		border: 1px #e4e4e4 solid;
		}
	}
	.text{
		font-size:12px;
		margin-left:0;
	}
	.text_no_button{
		color:#337AB7;
		size:15px;
		font-weight: italic;
		text-align: center;
	
	}	
	.button{
		padding-top:15px; 
	}
}



//show page for movies




.movie-page{
	margin:70px 30px;
	.movie_poster{
		width: 150px;
	}
		
}
.comment{
	padding-left: 10px;
	padding-right: 10px;
	hr{
	border:0.2px solid #DFF0D8;
	}
}
.about{
	margin: 80px 40px;
}
.text-color{
	color:#778592;
	h4{
		color:#574747;
	}
}